.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px var(--horizontal-space);
}

.screen-header__title {
  font-size: 25px;
  font-weight: 600;
}

.fa-music {
  padding: 0px 20px;
}
