.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px var(--horizontal-space);
}

.screen-header__title {
  font-size: 25px;
  font-weight: 600;
}

.screen-header__icon i {
  margin-left: 20px;
}

.nav__dot {
  /* screen header 빨간 점 */
  position: absolute;
  left: 40px;
  bottom: 20px;
  display: flex;
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 3px;
}
